p 
{
	font-size: 18px;
}


td
{
	line-height: 50px;
}


ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.container-fluid.custom-container
{
	padding: 50px 20px 300px 20px;
}


.list-item-image
{
	height: 120px;
	width: 160px;
}


.card 
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.card:hover
 {
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}


.btn.btn-text 
{
	border: 2px solid blue;
	border-radius: 5px;
	background-color: white;
	font-size: 30px;
	display: inline;
	cursor: pointer;
}
.btn.btn-text:hover {background: #eee;}


.footer 
{
	position: fixed;
	font-size: 30px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: lightblue;
	border-radius: 5px;
	color: black;
	text-align: center;
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}